

body{
  width:1260px;
  margin:5px ;
  /*background-color: #00cdff ;*/
}

a{color:black;}
a{text-decoration:none;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}


.header{
  position: fixed;
  top: 0 ;
  left:0;
  /*box-shadow: 10px 10px 10px ;*/
  height:50px ;
  width:100%;
  color:black ;
  background-color: #cdddf0;
}

.title{
  /*text-shadow: 10px 10px 5px  ;*/
  height:50px ;
  width:200px ;
  margin-left: 550px;
  margin-top:0px ;
}

.main{
  margin-top: 70px;
}

.search_box{
  float:left ;
  margin-left: 20px ;
}





/*パンくずリスト*/
.breadcrumb li {
  list-style: none ;
}

.breadcrumb ul{
  margin:0px ;
}

/*------------------------------------------------------------------------*/

.category ul {
/*この３行を記述することで左詰にすることができる*/
list-style: none ;
margin: 0px;
padding: 0px;
}




.category{
  width:230px ;
  float: left;
  margin-left: 40px ;
  margin-top: 30px;

}

.category li {
  margin-bottom: 20px ;
}

.category li:hover{
  box-shadow: 5px 5px 5px ;
}


#love,#simulation,#rpg,#sports,#accion,#table,#sound{
  box-shadow: 5px 5px 5px ;
}

#divination,#date,#marriage,#mathcmakingparty,#couple {
  box-shadow: 5px 5px 5px ;
}

#travel,#cars,#music,#gamble,#planemilitary{
    box-shadow: 5px 5px 5px ;
}

#healthcare,#diet{
  box-shadow: 5px 5px 5px ;
}

#english,#chinese,#primary,#high{
  box-shadow: 5px 5px 5px ;
}

#outdoor,#training,#trainingmanagement{
  box-shadow: 5px 5px 5px ;
}

#namecardmng,#schedule,#taskmng{
    box-shadow: 5px 5px 5px ;
}

#skincare,#hairstyle,#makeup{
  box-shadow: 5px 5px 5px ;
}

#facebook,#twitter,#instagram{
  box-shadow: 5px 5px 5px ;
}

/*------------------------------------------------------------------------------------------*/


.contents-item a:link,a:visited,a:hover,a:active{
  text-decoration: none ;
}



.dl_bt{
  background-color: #00deff ;
  display: inline-block;
  height:30px ;
  color:white ;
  border-radius: 20px ;
  padding-left: 20px ;
  padding-right: 20px ;

}

.contents{
  width:850px ;
  margin-top: 30px ;
  margin-left: 30px ;
  float: left;

}

.contents img{
  height:100px ;
  width:100px ;
  float:left;
  margin-right: 10px ;
}

.contents-item{
  overflow: scroll;
  height:600px;
  width:100% ;
  float:left;
}

.app-name{
  padding-top: 30px ;
  margin: 0px ;
}


/*アプリの説明欄*/
.inst{
  clear:left;
  line-height: 10px ;
  font-size: 9px;
  margin: 0px ;
  border-top: 1px dotted black ;
}

/*--------------------------------------------------------------------------------------*/


.ranking{
  width:250px;
  float: left;
  margin-top: 30px;
  margin-left: 30px ;
}

.ranking ul {
/*この３行を記述することで左詰にすることができる*/
list-style:none;
margin:0px;
padding: 0px;
}

.ranking img{
  height:50px ;
  width:50px ;
}


.ranking li {
  margin-bottom: 20px ;
  height:60px ;
  border-bottom : 1px dotted gray ;
}


/*.ranking a{
  width:100% ;
  height:100% ;
}*/

.ranking-appicon{
  width:50px ;
  height:50px ;
  float:left;
}
.ranking-appinfo{
  width: 100% ;
  height:60px ;
}

.ranking-appinfo p{
  margin:0px ;
}

/**評価**/
.calificate{
  height:12px ;
  width:30 ;
  float:left ;
}

.ranking-num{
  float:left ;
  height:20px ;
  width:20px ;
  margin-right: 5px ;
  padding-top: 10px ;
  background-color: gold ;
}


/*-----------------------------------------------------*/
.pages{
  clear:left;
  text-align: center;
}


table {
  border-collapse: collapse;
  width:200px ;
  /*margin-left,rightで中央寄せ*/
  margin-left: auto;
  margin-right: auto;
}


td {
  margin-right: 30px;
}
/*------------------------------------------------------------------*/
.footer{
  margin-top:50px ;
  border-top: 1px solid black ;
  width:100% ;
  height: 500px;
  clear:both;
}

.footer ul {
width:100% ;
padding: 0px ;
}

.footer li {
  margin-bottom: 5px;
  list-style: none ;
}


.wrap-maps{
  height:100% ;
}

.wrap-maps > div {
  float:left ;
  width:200px ;
  height:300px ;
}
